.terms {
  color: #877363;
  margin: 0 60px 8px 60px;
  text-align: center;
  font-feature-settings: "dlig" on;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.acces {
    text-align: center;
    margin-top: 10px; /* Espaciado superior */
    color: #877363;
    font-feature-settings: "dlig" on;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    margin-left: 160px;
}
.submit-button {
  width: 330px;
  height: 40px;
  overflow: hidden;
  color: #fcfbfb;
  text-align: center;
  font-feature-settings: "dlig" on;
  text-overflow: ellipsis;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px; /* 150% */
  padding: 9px 0px 10px 0px;
  background: #003e09;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: block;
  margin-left: 22px;
}

.login-link {
  text-align: center;
  margin-top: 29px;
  color: #877363;
  font-feature-settings: "dlig" on;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
